/*import fonts*/
@font-face {
    font-family: 'DracuFrankenWolfBB'; /*a name to be used later*/
    src: url('../resources/fonts/DracuFrankenWolfBB.otf'); /*URL to font*/
}

nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;
}
nav ul li {
    position: relative;
    list-style: none;
}
nav ul li a {
    font-family: DracuFrankenWolfBB, fantasy;
    font-size: 3em;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 1em;
    text-transform: uppercase;
    color: #00365a;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

nav ul li a.router-link-active::before {
    content: attr(data-text);
    color: var(--clr);
    overflow: hidden;
    width: 100%;
    border-right: 8px solid var(--clr);

    filter: drop-shadow(0 0 25px var(--clr))
}


nav ul li a::before {
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid var(--clr);
}
nav ul li a:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr))
}