#quotes {
    display: flex;
    flex-direction: column;
}

#quotes-header {
    display: flex;
    flex-direction: row;
}

#quotes-header p {
    font-style: italic;
    margin-left: 10%;
    margin-right: 5%;
}

#quotes-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.quote {
    background-color: transparent;
    border-radius: 3px;
    color: #fff;
    width: 400px;
    height: 300px;
    transform-style: preserve-3d;
    perspective: 2000px;
    transition: 0.4s;
    text-align: center;
    margin: 20px;
}

.quote-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote-content .quote-text {
    font-size: 1.3em;
}

.quote-content .quote-author {
    font-size: 1em;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 0;
}


.quote:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-top: 20px solid #fff;
    border-left: 20px solid #fff;
    box-sizing: border-box;
}
.quote:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 20px solid #fff;
    border-right: 20px solid #fff;
    box-sizing: border-box;
}
.quote .fas {
    font-size: 25px;
    height: 50px;
    width: 50px;
    line-height: 50px !important;
    background-color: #fff;
    color: #2c3a47;
}
.quote .fa2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.quote .text {
    position: absolute;
    top: 30px;
    left: -30px;
    width: calc(100% + 60px);
    height: calc(100% - 60px);
    background-color: rgba(0, 139, 139, 0.7);
    border-radius: 3px;
    transition: 0.4s;
}
.quote .text .fa1 {
    position: absolute;
    top: 0;
    left: 0;
}
.quote .text div {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    padding: 30px 60px;
    line-height: 1.5;
    box-sizing: border-box;
}
.quote:hover {
    transform: rotateY(-20deg) skewY(3deg);
}
.quote:hover .text {
    transform: rotateY(20deg) skewY(-3deg);
}
