/*import fonts*/
@font-face {
    font-family: 'direwolf'; /*a name to be used later*/
    src: url('../resources/fonts/direwolf.ttf'); /*URL to font*/
}

/*content style*/
body {
    background-image: url("../resources/images/background.jpg");
    background-attachment: fixed;
    margin-left: 15%;
    margin-right: 15%;
}

/*header style*/
header {
    width: 100%;
    margin: auto;
}

#title {
    font-family: direwolf, fantasy;
    font-size: 100pt;
    color: white;
    text-align: center;
}

#slogan {
    font-style: italic;
    font-size: 18pt;
    color: wheat;
    text-align: right;
    vertical-align: top;
    margin-right: 100px;
    margin-bottom: 70px;
}

#content {
    color: lemonchiffon;
    font-size: 16pt;
    text-align: justify;
}

.fire {
    animation: burn 1.5s linear infinite alternate;
    color: firebrick;
    line-height: 30px;
}

@keyframes burn {
    from { text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .4em #ffae34, .2em -.3em .3em #ec760c, -.2em -.4em .4em #cd4606, .1em -.5em .7em #973716, .1em -.7em .7em #451b0e; }
    45%  { text-shadow: .1em -.2em .5em #fefcc9, .15em 0 .4em #feec85, -.1em -.25em .5em #ffae34, .15em -.45em .5em #ec760c, -.1em -.5em .6em #cd4606, 0 -.8em .6em #973716, .2em -1em .8em #451b0e; }
    70%  { text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .6em #ffae34, .2em -.3em .4em #ec760c, -.2em -.4em .7em #cd4606, .1em -.5em .7em #973716, .1em -.7em .9em #451b0e; }
    to   { text-shadow: -.1em -.2em .6em #fefcc9, -.15em 0 .6em #feec85, .1em -.25em .6em #ffae34, -.15em -.45em .5em #ec760c, .1em -.5em .6em #cd4606, 0 -.8em .6em #973716, -.2em -1em .8em #451b0e; }
}













/*-------_!!!!!!!!!!!!!---------*/

header nav {
    width: 90%;
    margin: auto;
}

header nav ul {
    list-style-type: none;
    margin: 0;
}

header nav ul li {
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 25pt;
    transform: skewX(-20deg);
    padding: 10px;
    border-radius: 5px;
    margin: -2px;
}

.border-left {
    border-left-style: dotted;
}

.border-right {
    border-right-style: dotted;
}


@media (max-width: 400px) {
    header nav ul li {
        border-left-style: dotted;
        border-right-style: dotted;
    }
}

header nav ul li span {
    display: inline-block;
    transform: skewX(20deg);
    margin: 0;
    padding: 0;
}

header nav ul li:hover {
    background-color: white;
    color: black;
    font-size: 25pt;
}

/*list of articels*/
#articles-list {
    padding: 0;
}

#articles-list li {
    list-style-type: none;
    background-color: rgba(255, 255, 220, .47);
    border-radius: 5px;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
}

#articles-list li:hover {
    background-color: beige;
}

#articles-list li .title{
    display: flex;
    justify-content: space-between;
}

#articles-list li .name{
    font-weight: bold;
}

#articles-list li .datetime{
    font-style: italic;
}

#articles-list a {
    color: inherit;
}

#content h2 {
    text-align: center;
}

#content #article-text {
    text-align: justify;
}

#content #video {
    text-align: center;
}

#about img {
    width: 30%;
    margin: 2%;
    float: left;
}

/*footer*/
footer {
    clear: both;
    position: relative;
    height: 20px;
    margin-top: -10px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 5px;
}